<!-- start custom head snippets -->

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://teastman.github.io/Leaflet.pattern/leaflet.pattern.js"></script>

<style>
    .large-table {
        display: table;
        width: 100%;
        table-layout: auto;
    }
  
    .min-col {
      white-space: nowrap;
      width: 1%;
      padding: 20px;
    }

    table colgroup col {
    width: auto !important;
    }

    /* Style for table headers */
  .large-table th {
    padding: 10px 0px 10px 0px;
    text-align: center;
    vertical-align: top; /* Correct vertical alignment */
    /* border: 1px solid #ddd;  /* Optional: for better visibility */
  }

  /* Style for table data cells */
  .large-table td {
    vertical-align: top; /* Align text to the top of the cells */
    text-align: left;
    padding: 10px 0px 10px 0px;

  #map {
  width: 100%;
  height: 90vh; /* Adjust height dynamically */
  }

  }
  
  </style>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
