<!-- start custom head snippets -->
<style>
    .large-table {
        display: table;
        width: 100%;
        table-layout: auto;
    }
  
    table colgroup col {
    width: auto !important;
    }

    /* Style for table headers */
  .large-table th {
    padding: 10px 0px 10px 0px;
    text-align: center;
    vertical-align: top; /* Correct vertical alignment */
    /* border: 1px solid #ddd;  /* Optional: for better visibility */
  }

  /* Style for table data cells */
  .large-table td {
    vertical-align: top; /* Align text to the top of the cells */
    text-align: left;
    padding: 10px 0px 10px 0px;
  }
  
  </style>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
