---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/DZS-Banner.png
  actions:
    - label: "<i class='fab fa-discord'></i> Join us"
      url: "#"
excerpt: Yet another Algerian flight simulation hub bringing Algerian Skies to Life!
feature_row:
  - image_path: /assets/images/sceneries/banner.png
    alt: "DZS Sceneries"
    title: "Sceneries"
    excerpt: "Unique Microsoft Flight simulator sceneries for Algerian airports"
    url: "#"
    btn_class: "btn--primary"
    btn_label: "Browse"
  - image_path: /assets/images/liveries/banner.png
    alt: "DZS Liveries"
    title: "Liveries"
    excerpt: "Realistic liveries for Microsoft Flight Simulator 2020/2024"
    url: "#"
    btn_class: "btn--primary"
    btn_label: "Browse"
  - image_path: /assets/images/charts/banner.png
    alt: "DZS Charts"
    title: "IFR/VFR Charts"
    excerpt: "A collection of IFR and VFR charts for simmers"
    url: "#"
    btn_class: "btn--primary"
    btn_label: "Naivgate"   
---

{% include feature_row %}

<h2 class="archive__title">{{ site.data.ui-text[site.locale].last_updates | default: "Last Updates" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}