---
layout: splash
title: "Home page"
permalink: /
hidden: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/DZS-Banner.webp
  actions:
    - label: "<i class='fab fa-discord'></i> Join us"
      url: "https://discord.gg/EEeKMt86xP"
excerpt: Bringing Algerian Skies to Life for Flight Simulation Enthusiasts!

feature_row:
  - type: "title"
    title: "DZS Creations"
  - image_path: /content/images/sceneries/banner.webp
    alt: "Sceneries"
    title: "Sceneries"
    excerpt: "Enhance your virtual skies with handcrafted airports and airbases designed for the most immersive flight simulation experience."
    url: "/sceneries"
    btn_class: "btn--primary"
    btn_label: "Explore"
  - image_path: /content/images/liveries/banner.webp
    alt: "Liveries"
    title: "Liveries"
    excerpt: "Fly in style with high-quality, realistic liveries inspired by real-world aircraft and custom designs for aviation enthusiasts."
    url: "/liveries"
    btn_class: "btn--primary"
    btn_label: "View"
  - image_path: /content/images/mods/mods-thumbnail.webp
    alt: "Mods and Add-ons"
    title: "Mods & Add-ons"
    excerpt: "Discover enhancements and customizations for your simulator, including Navaids, GSX profiles, and other mission-ready tools."
    url: "/mods"
    btn_class: "btn--primary"
    btn_label: "Browse Mods"



third_party_row:
  - type: "title"
    title: "Community Contributions"
    
  - image_path: /content/images/community/community-sceneries-banner.webp
    icon: "fas fa-map-marked-alt"
    alt: "Third Party Sceneries from Community"
    title: "Community Sceneries"
    excerpt: "Explore a growing collection of community-made airports and landscapes, bringing even more realism to your flights."
    url: "/categories/community-sceneries/"
    btn_class: "btn--primary"
    btn_label: "Browse"
  - image_path: /content/images/community/community-liveries-banner.webp
    icon: "fas fa-paint-brush"
    alt: "DZS Liveries"
    title: "Community Liveries"
    excerpt: "Discover a variety of liveries designed by fellow simmers, offering unique and authentic aircraft paint schemes."
    url: "/categories/community-liveries/"
    btn_class: "btn--primary"
    btn_label: "View"
  - image_path: /content/images/community/community-resources-banner.webp
    icon: "fas fa-book-open"
    alt: "DZS Charts"
    title: "Community Resources"
    excerpt: " Access tutorials, guides, and helpful content from the flight simulation community to improve your skills and knowledge."
    url: "/categories/community-resources/"
    btn_class: "btn--primary"
    btn_label: "Explore"   
---

<div style="background: rgba(235, 235, 235, 0.5); padding: 10px 5px 10px 5px; border-radius: 15px; border: 3px solid rgba(255, 255, 255, 0.2); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);">

{% include feature_row %}

</div>


{% include third_party_row %}

<br />
<hr />
<h1 class="archive__title">{{ site.data.ui-text[site.locale].last_updates | default: "Last Updates" }}</h1>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign non_posts_collections = site.collections | where_exp: "collection", "collection.label != 'posts'" %}
{% assign collections = non_posts_collections | where_exp: "collection", "collection.label != 'charts'" %}

{% assign all_docs = "" | split: "" %}

{% for collection in collections %}
  {% assign all_docs = all_docs | concat: collection.docs %}
{% endfor %}

{% assign all_updates = posts | concat: all_docs %}

{% assign entries_layout = page.entries_layout | default: 'grid' %}
{% assign sorted_posts = all_updates | sort: site.default_sort_by | reverse %}

<div class="entries-{{ entries_layout }}">
  {% for post in sorted_posts limit:12 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

