<div id="map" style="height: 400px;"></div>

<script>
  // Try to get coordinates from include.coordinates or from the sceneries data using ICAO
  {% assign airport = nil %}
  {% if include.icao %}
    {% assign airport = site.data.sceneries | where: "name", include.icao | first %}
  {% endif %}

  {% if include.coordinates %}
    const centerCoords = {{ include.coordinates }};
  {% elsif airport %}
    const centerCoords = [{{ airport.lat }}, {{ airport.lng }}];
  {% endif %}

  // Define military variable (default to true)
  {% if include.military == false %}
    const isMilitary = false;
  {% else %}
    const isMilitary = true;
  {% endif %}

  // Initialize the map
  var map = L.map('map', {
    center: {% if include.coordinates or airport %} centerCoords {% else %} [33.53, -0.24] {% endif %},
    zoom: 5,
    minZoom: 5,
  });

  // Tile layer
  L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://carto.com/">CartoDB</a>',
    subdomains: 'abcd',
    maxZoom: 16
  }).addTo(map);

  // Country geojson
  fetch('/assets/geojson/algeria.geojson')
    .then(response => response.json())
    .then(data => {
      L.geoJSON(data, {
        style: {
          color: '#dddddd',
          weight: 1,
          fillColor: '#deffe7',
          fillOpacity: 0.5
        }
      }).addTo(map);
    });

  // Place marker if coordinates exist
  {% if include.coordinates or airport %}
    var markerIcon = L.icon({
      iconUrl: isMilitary ? '/assets/images/mil-marker.png' : '/assets/images/marker.png',
      iconSize: [32, 32],
      iconAnchor: [16, 32],
      popupAnchor: [0, -32]
    });

    var marker = L.marker(centerCoords, { icon: markerIcon }).addTo(map)
      .openPopup();
  {% endif %}
</script>
