<h2>Sceneries map</h2>
<div id="map" style="height: 500px;"></div>

<script>

  var map = L.map('map', {
  center: [34.39, 3.77],
  zoom: 6,
  minZoom: 5,
 
});

// map.fitBounds([
//   [19, 1], // Southwest corner
//   [36, 5]  // Northeast corner
// ]);


L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
    attribution: '&copy; <a href="https://carto.com/">CartoDB</a>',
    subdomains: 'abcd',
    maxZoom: 20
}).addTo(map);




fetch('/assets/geojson/algeria.geojson') // Algeria's GeoJSON
  .then(response => response.json())
  .then(data => {
    L.geoJSON(data, {
      style: {
        color: '#03240f',      // Border color
        weight: 1,         // Border thickness
        fillColor: '#deffe7', // Inside color
        fillOpacity: 0.1   // Transparency
      }
    }).addTo(map);
  });

fetch('/assets/geojson/dz_asp.geojson') // Algeria's GeoJSON
  .then(response => response.json())
  .then(data => {
    L.geoJSON(data, {
      style: {
        color: '#03240f',      // Border color
        weight: 2,         // Border thickness
        fillColor: 'white', // Inside color
        fillOpacity: 0.1   // Transparency
      }
    }).addTo(map);
  });

  var fighterIcon = L.icon({
    iconUrl: '/assets/images/fighter.png',
    iconSize: [32, 32], // Size of the icon [width, height]
    iconAnchor: [16, 32], // Anchor point (center bottom)
    popupAnchor: [0, -32] // Popup position relative to marker
});

var trainingIcon = L.icon({
    iconUrl: '/assets/images/training.png', 
    iconSize: [32, 32], // Size of the icon [width, height]
    iconAnchor: [16, 32], // Anchor point (center bottom)
    popupAnchor: [0, -32] // Popup position relative to marker
});

var rescueIcon = L.icon({
    iconUrl: '/assets/images/rescue.png',
    iconSize: [32, 32], // Size of the icon [width, height]
    iconAnchor: [16, 32], // Anchor point (center bottom)
    popupAnchor: [0, -32] // Popup position relative to marker
});

var marinesIcon = L.icon({
    iconUrl: '/assets/images/marines.png',
    iconSize: [32, 32], // Size of the icon [width, height]
    iconAnchor: [16, 32], // Anchor point (center bottom)
    popupAnchor: [0, -32] // Popup position relative to marker
});

//*********** training 
  // D50E-01
  L.marker([34.38, -0.42], { icon: trainingIcon }).addTo(map)
    .bindPopup('<strong>Training area - D50E</strong><br /><img src="/content/images/sceneries/d50e-01/D50E-0101.webp" /><br /><a href="/sceneries/training-zone-d50e-01/">D50E-01</a>');

  // D82-01
  L.marker([34.93, 2.55], { icon: trainingIcon }).addTo(map)
    .bindPopup('<strong>Training area - D82</strong><br /><img src="/content/images/sceneries/d82-01/D82-0101.webp" /><br /><a href="/sceneries/training-zone-d82-01/">D82-01</a>');

  // D86-01 
  L.marker([37.28, 7.15], { icon: marinesIcon }).addTo(map)
    .bindPopup('<strong>Sea SOP | Training area - D86</strong><br/><img src="/content/images/sceneries/d86-01/D86-0101.webp" /><br /><a href="/sceneries/search-and-rescue-sar-01/">D86-01</a>'); 

//******** sop

  // Search And Rescue 02
  L.marker([23.05, 2.27], { icon: rescueIcon }).addTo(map)
    .bindPopup('<strong>Desert SOP | Search And Rescue</strong><br/><p style="color: red;">Coming soon</p>'); 

      // Search And Rescue 01 
  L.marker([37.10, 5.77], { icon: rescueIcon }).addTo(map)
    .bindPopup('<strong>Sea SOP | Search And Rescue</strong><br/><img src="/content/images/sceneries/sar-01/sar-0101.webp" /><br /><a href="/sceneries/search-and-rescue-sar-01/">Search And Rescue 01</a>'); 

    //********* Air Bases 
  // DAOE
  L.marker([35.73, -0.80], { icon: fighterIcon }).addTo(map)
    .bindPopup('<strong>Bousfer - Air Base</strong><br /><img src="/content/images/sceneries/daoe/DAOE_BANNER.webp" /><br /><a href="/sceneries/daoe/">DAOE</a>');  

  // DAOL
  L.marker([35.53, -0.52], { icon: fighterIcon }).addTo(map)
    .bindPopup('<strong>Tafraoui - Air Base</strong><br /><img src="/content/images/sceneries/daol/DAOL01.webp" /><br /><a href="/sceneries/daol/">DAOL</a>');  

  // DAAY
  L.marker([33.53, -0.24], { icon: fighterIcon }).addTo(map)
    .bindPopup('<strong>Mecheria - Air Base</strong> & Airport<br /><img src="/content/images/sceneries/daay/DAAY08.webp" /><br /><a href="/sceneries/daay/">DAAY</a>');     

</script>