<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ site.name | jsonify }},
  "alternateName": "DZS",
  "url": {{ '/' | absolute_url | jsonify }},
  "logo": {{ site.logo | absolute_url | jsonify }},
  "sameAs": {{ site.social.links | jsonify }}
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.name | jsonify }},
  "alternateName": "DZS",
  "url": {{ '/' | absolute_url | jsonify }}
}
</script>