---
layout: splash
---

<h2>{{ page.title }}</h2>

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<!-- Main Collection Block -->
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.modified sort_order='reverse' type=entries_layout %} 
</div>

<!-- Add a CLEAR DIV to break flex/grid -->
<div style="clear: both; margin-top: 3rem;"></div>

<!-- Related Items Block -->
{% if page.related_items %}
  {% include related-collection.html 
    related_collection=page.related_items.collection
    related_flags=page.related_items.flags
    entries_layout=entries_layout
    related_title=page.related_items.title
  %}
{% endif %}

