---
layout: splash
---

<h2 style="clear: both;">{{ page.title }}</h2>

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
</div>

<h2 style="clear: both;">Other liveries by community</h2>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy="Community Liveries" type=entries_layout %}
</div>